.justify-text {
  text-align: justify;
}

.about-img {
  height: 250px;
  width: 250px;
  object-fit: fill;
  margin: 5vh 3vw 0vh 3vw;
}

@media(max-width: 992px) {
  .xs-hidden {
    display: none;
  }
  .lg-hidden {
    display: block;
  }
}

@media(min-width: 993px) {
  .xs-hidden {
    display: block;
  }

  .lg-hidden {
    display: none;
  }
}
