.contact-cards-container {
  min-height: 20vh;
  width: 100%;
  margin-bottom: 6vh;
}

.contact-card-content {
  height: 100%;
  padding: 5vh 4vw 5vh 4vw;
}

.contact-data {
  background-color: $light-yellow;
}

.contact-address {
  background-color: $light-blue;
}

.contact-access-intro {
  padding: 0 2vw;
  margin-top: 5vh;
  text-align: justify;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
