<nav class="sticky">
  <label class="logo">
    Logo
  </label>
  <ul>
    <li class="nav-item">
      <%= link_to "Bienvenue", root_path, class: "active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Qui suis-je", about_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Actualités", "#" %>
    </li>
    <li class="nav-contact contact-button">
      <%= link_to "Contact", contact_path, class: "bolder" %>
    </li>
  </ul>
</nav>
